.project {
  font-size: 15px !important;
}

.team-description {
  text-align: justify;
}

.team-picture {
  text-align: center; 
  display: block;
}

body.modal-open {
  overflow: visible;
  position: relative;
  overflow-x: hidden;
}